* {
    font-family: Arial;
}

html {
    height: 100%;
}

body {
    /*background-color: red;*/
    background: url(img/176.jpg) repeat #009fff;
}

.opacityNull {
    opacity: 0;
}

.hide {
    display: none;
}
/**********************************************************/
._column-reverse {
    flex-direction: column-reverse;
}
._column {
    flex-direction: column;
}

.wrapper {

    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
    .content {
        background-color: #e4faff;
        /*background-color: rgba(45, 154, 229, 0.1);*/
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        /*padding-left: 100px;*/
        /*padding-right: 100px;*/
        padding-bottom: 50px;
        padding-top: 50px;
        border: 10px solid #68aee5;
        width: 60%;
        margin-top: 50px;
        border-radius: 25px;
        transition: border-color 500ms linear;
    }

        .progressBar__wrapper {
            width: 90%;
            border: 5px dashed #2d9ae5;
            /*padding: 5px;*/
            height: 1rem;
            /*border-radius 5px;*/
            border-left: none;
            border-right: none;
            transition: border-color 500ms linear;
        }

            .progressBar--true {
                /*padding: 5px;*/
                background-color: #2d9ae5;
                width: 0%;
                height: 100%;
                transition: background-color 500ms linear;
            }

            .progressBar--false {
                /*padding: 5px;*/
                background-color: #2d9ae5;
                width: 0%;
                height: 100%;
                transition: background-color 500ms linear;
            }

    .wrapper--title {
        border: 8px solid #68aee5;
        margin-top: 25px;
        margin-bottom: 25px;
        border-radius: 10px;
    }

        .title {
            font-size: 30px;
            color: #2d9ae5;
            font-weight: bold;
            border: 8px solid #2d9ae5;
            border-right: 8px solid #2d9ae5;
            border-top: 8px dashed #2d9ae5;
            border-bottom: 8px dashed #2d9ae5;
            border-radius: 5px;
            padding: 10px;
            background-color: #e4faff;
        }

        .content__buttons {
            display: flex;
            flex-wrap: wrap;
            /*flex-direction: column;*/
            /*flex-direction: column-reverse;*/
            align-items: center;
            margin-top: 150px;
            margin-bottom: 150px;
        }

            .button {
                /*background-color: #f2f2f2;*/
                border: 5px dashed #2d9ae5;
                border-radius: 5px;
                margin: 10px 0 10px 0;
                padding: 10px;
                color: #2d9ae5;
                font-weight: bold;
                transition: background-color 500ms, color 500ms, opacity 500ms;
                background-color: #e4faff;
/**********************************************************/
                min-width: 200px;
            }

                .button:hover {
                    color: #fff;
                    background-color: #2d9ae5;
                    /*transition: background-color 500ms, color 500ms;*/
                }
/**********************************************************/
                .button--begin {
                    margin: 44px 0 44px 0;
                }

                .button--true {
                    background-color: rgba(0, 255, 0, 0.3);
                }

                .button--false {
                    background-color: rgba(255, 0, 0, 0.3);
                }

                .button__normalize {
                    margin-top: 68px;
                    margin-bottom: 68px;
                }

                /*.button--begin:hover .button-hide {*/
                    /*display: block;*/
                /*}*/

    .gameOver {
        text-align: center;
        align-items: center;
    }

        .gameOver__title {
            font-size: 35px;
            font-weight: bold;
            color: #2d9ae5;
        }

        .gameOver__text {
            font-size: 1.5rem;
            /*color: #2d9ae5;*/
        }

        .gameOver__countCorrect {
            color: green;
            font-size: 2rem;
            font-weight: bold;
        }

        .gameOver__countError {
            color: red;
            font-size: 2rem;
            font-weight: bold;
        }
